.footer {
  height: 7%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
}

p a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}

p a:hover {
  color: #caf0f8;
}
